<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
     {{!-- sql information cabin-fever reader, will change to different value. --}}
        <h2>cabin-fever helper (placeholder values edit to set db)!</h2>

<ul>
  {{#each pplanner}}
    {{#unless cabinfever}}
      {{> pplanner/cozyblock cabinfever=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>cabin-cozy</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> pplanner/catblock cabinfever=false}}  
      {{!-- change catblock to js variable --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a category</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="cabinfever">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Let me out!!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>
     
     
      </div>
    </div>
  </div>
</div>
