
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" /> 
  <script src="https://www.gstatic.com/firebasejs/live/3.1/firebase.js"></script> 

  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  <div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">User Page
      <span role="img" aria-label="">Welcome to your User Page</span>
    </h1>
    <a href="/">← Back To Home</a>
  </div>
</div>
</body>

</html>