.jumbotron{
    background-color: #78617a;
    text-align: center;
    border-bottom: black solid 2px;
    font-weight: bold;
}

body{
    background-color: #2a2b2e;
}
h3{
    color: aliceblue;
    text-decoration: underline;
}
.para1{
    color: aliceblue;
    text-align: center;
    margin-left: 350px;
}
img{
    float: right;
    border: black solid 1px;
   margin-top: 100px;
   margin-right: 100px;
 }

.para2{
    /* text-align: center; */
    margin-top: 120px;
    padding-left:10px ;
    color: aliceblue;
}


.links{
    text-align: center;
}