.navbar{
  background-color: slategray;
  color: white;
}

#home{
  background-color:#2a2b2e;
}

html{
  background-color:#2a2b2e;
}
h1{
  text-align: center;
  color: #052480;
 -webkit-text-stroke-width: .5px;
 -webkit-text-stroke-color: white;
}

h2{
  text-align: center;
  
}
.list-group-item {
  line-height: 2.5;
}


.Application_pageContent__3PrU9{
  float: right;
  margin-top: 100px;
  margin-right: 50px;

}
.text-box{
  border: 2px black dotted;
  padding: 10px;
  float: left;
}

.box-1{
  margin-left: 225px;
  margin-right: 10px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  /* margin-right: 10px; */
  border: 2px white dotted;
  padding: 10px;
  float: right;
  color: #052480;
  -webkit-text-stroke-width: .5px;
 -webkit-text-stroke-color: white;
}

iframe{
  border: 2px white dotted;
}
.container .jumbotron {
  border-radius: 60px ;
  background-color: #78617a;
}