.navbar{
  background-color: slategray;
  color: white;
}

.container{
  color: black;
}

#home{
  background-color:#2a2b2e;
}
body{
  background-color:#2a2b2e ;
}
html{
  background-color:#2a2b2e;
}
h1{
  text-align: center;
  color: #052480;
 -webkit-text-stroke-width: .5px;
 -webkit-text-stroke-color: white;
}

h2{
  text-align: center;
  
}


.list-group-item {
  line-height: 2.5;
}


.Application_pageContent__3PrU9{
  float: right;
  margin-top: 100px;
  margin-right: 50px;

}
.text-box{
  margin-bottom: 20px;
  color:green;
  margin-left: 220px;
  border: 2px white dotted;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
   float: left;
  color: #052480;
  -webkit-text-stroke-width: .5px;
 -webkit-text-stroke-color: white;
}


.box-1{
  margin-left: 225px;
  margin-right: 10px;
  /* margin-top: 10px; */
  margin-right: 225px;
    /* margin-top: 10px; */
  margin-bottom: 10px;
  /* margin-right: 10px; */
  border: 2px white dotted;
  padding: 15px;
  padding-bottom: 25px;
  float: right;
  color: #052480;
  -webkit-text-stroke-width: .5px;
 -webkit-text-stroke-color: white;
}

iframe{
  border: solid 2px black;
 margin-left: 150px;
  margin-bottom: 20px;
    position: center;
    top: 0%;

  }

@media only screen and (max-width: 640px){
#masthead {
  /* Positioning */
  position: static;
  margin-bottom: 20px;
}
header .container {
  padding: 0;
}
main.container {
  padding-top: 0;
}
#logo,
.work,
.auth-image {
  width: 100%;
}
nav {
  /* Box-model */
  width: 100%;
  /* Positioning */
  margin: 15px 0;
  /* Typography */
  text-align: center;
}
nav a {
  /* Box-model */
  width: 30%;
  padding-left: 0;
  /* Positioning */
  margin-left: 0;
}
}

.container .jumbotron {
  border-radius: 60px ;
  background-color: #78617a;
}

.box-2{
  margin-left: 120px;
}
